raw_data/
docs/
processed_data/
results/

*.pdf
*.pptx
*.doc
*.docx
*.txt

venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*

meme
wandb
results_preds
tea_debug.log
.DS_Store
Thumbs.db
*.json