{%- if messages and messages[0]['role'] == 'system' %}
    {{- '<|im_start|>system\n' + messages[0]['content'] | trim + '<|im_end|>\n' }}
{%- else %}
    {{- '<|im_start|>system\nYou are a SQL expert. Given the database schema and a question in natural language, generate the corresponding SQL query for SQLite.<|im_end|>\n' }}
{%- endif %}
{%- for message in messages %}
    {%- if message['role'] == 'system' and not loop.first %}
        {{- '<|im_start|>system\n' + message['content'] | trim + '<|im_end|>\n' }}
    {%- elif message['role'] == 'user' %}
        {%- if message['content'] is mapping %}
            {{- '<|im_start|>user\n' }}
            {{- '<schema>\n' + message['content']['schema'] | trim + '\n</schema>\n\n' }}
            {{- '<question>\n' + message['content']['question'] | trim + '\n</question>' }}
            {{- '<|im_end|>\n' }}
        {%- else %}
            {{- '<|im_start|>user\n' + message['content'] | trim + '<|im_end|>\n' }}
        {%- endif %}
    {%- elif message['role'] == 'assistant' %}
        {{- '<|im_start|>assistant\n' + message['content'] | trim + '<|im_end|>\n' }}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|im_start|>assistant\n' }}
{%- endif %}
